<!DOCTYPE html>
<html lang="en">
<head>
  <title>ODrive <%= version %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png" id="favicon">
  <script src="/javascript/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body class="initial">
<div class="col-md-12">
  <h2 class="text-sm-center"> Setup Required</h2>

  <p>Before you use ODrive you need to setup and authenticate your Google Drive Folder.

  Click <strong>Next</strong> to run ODrive setup now, or close the window to cancel.</p>

  <div class="text-sm-right">
    <a class="btn btn-primary" href="/settings">Next</a>
  </div>
</div>

</body>
