<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <title>ODrive <%= version %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png" id="favicon">
  <script src="/javascript/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h2> In development</h2>
</body>