[Desktop Entry]
Name=Open Drive
Comment=Simple google drive client
Exec="/opt/OpenDrive/odrive" %U
Terminal=false
Type=Application
Icon=odrive-bin
Categories=Archiving;
