@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "helpers";
@import "components";

body {
  padding: 20px;
  padding-bottom: 10px;
}

.initial {
  padding-top: 25px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
  }
}

.settings {
  label {
    font-size: 16px;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  #synchronize-status {
    @extend .form-control-static;
  }
}
